page-home {

}

.center{
    text-align: center;
}

.percentageDisplay{
    font-size: x-small;
}

.numbers{
    font-size: 20px;
    font-weight: 400;
}

.orange{
    color: darkorange;
}

.green{
    color: forestgreen;
}

.red{
    color: red;
}

.no-shadow{
    box-shadow: none !important;
    color: dimgrey;
}

.arrow{
    top: 20px;
    position: absolute;
}
.card-md + ion-card {
    margin-top: 0;
    background-color: #f3fcff;;
}
// .arrow-mini {
//     background-image: url(/assets/icon/arrow-mini.svg);
//     height: 20px;
//     max-width: 10px;
//     top: 5px;
//     background-position: center;
//     background-repeat: no-repeat;
//     margin-left: 0;
//     background-size: cover;
//     position: relative;
//     opacity: 0.4;
//   }

//   i {
//     border: solid black;
//     border-width: 0 3px 3px 0;
//     display: inline-block;
//     padding: 3px;
//   }
  
//   .right {
//     transform: rotate(-45deg);
//     -webkit-transform: rotate(-45deg);
//   }
  
