page-home {

}

.center{
    text-align: center;
}

.percentageDisplay{
    font-size: x-small;
}

.numbers{
    font-size: 20px;
    font-weight: 400;
}

.orange{
    color: darkorange;
}

.green{
    color: forestgreen;
}

.red{
    color: red;
}

.no-shadow{
    box-shadow: none !important;
    color: dimgrey;
}
